# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.editorconfig

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
.env

node_modules
dist
dist-ssr
*.local
.venv
log.html
report.html
playwright-log.txt
.venv/
# Outputs: ignoroi binäärit mutta salli HTML-raportit
outputs/*.xml
!outputs/*.html
outputs/browser/
src/assets/saavutettavuus
src/testaus