body {
    background: #ffffff;
    font-family: Arial;
    margin: 0;
}

.title_text {
    text-align: center;
}

nav {
    background: black;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

nav a {
    color: orange;
    background: whitesmoke;
    padding: 8px 14px;
    border-radius: 5px;
}

.hamburger {
    background: none;
    color: orange;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s;
}
.hamburger:hover {
    transform: scale(1.2);
}

.kayttajatunnus {
    margin-left: auto;
    color: white;
}

.sidebar {
    background: black;
    color: white;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    transition: 0.3s;
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar.auki {
    transform: translateX(0);
}

.sidebar ul {
    padding-left: 18px;
    list-style: none;
}

.sidebar li {
    margin: 14px 0;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.sidebar.auki li {
    opacity: 1;
    transform: translateX(0);
}

.sidebar a {
    text-decoration: none;
    color:white;
    transition: color 0.2s;
}

.sidebar a:hover {
    color: orange;
}

.main { padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.dropdownbutton {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    }


    .merkinta {
    position: relative;
    display: inline-block;
    width: 70%;
    }

    .merkinnat {
      margin-bottom: 20px;
      margin-left: 25px;
      background-color: rgb(200, 200, 200);
    }

    .merkinnat button {
        right: auto;
    }

    .nuke {
        background-color: red;
        font-size: 20px;
        border-radius: 3px;
        border: 2px solid rgb(255, 44, 44);
    }

  .area {
    display: none;
    background-color: #f1f1f1;
    z-index: 1;
    padding: 10px 0 10px 20px;
  }


  .area a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #long {
    background-color: gray;
    height: 100px;
    width: 90%;
    padding: 5px;
  }


  .area a:hover {
    background-color: #ddd;
}


  .show {
    display: block;
}

.area button {
    position: relative;
    left: 90%;
}

.add_diary_button {
    position: absolute;
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid skyblue;
    background-color: rgb(112, 112, 249);
    right: 1%;
}

#add_diary {
    width: 45%;
    height: 35%;
    border-radius: 10px;
    border: 2px solid black;
}

#add_diary input {
    margin-bottom: 10px;
    border-radius: 2px;
    border: 2px solid;
    height: 15%;
}

#add_diary input[name=sleep] {
    width: 15%;
}

#add_diary textarea {
    width: 90%;
    height: 80px;
}

.add_entry {
    margin-top: 10px;
    width: 65px;
    height: 35px;
    border-radius: 3px;
    border: 2px;
    background-color: skyblue;
}

.close_add_entry {
    position: absolute;
    right: 2%;
    bottom: 5%;
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 2px;
    background-color: red;
    color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

        
input[type="number"] {
    -moz-appearance: textfield;
}