body {
    font-family: Arial;
    background: #F8FAFC;
    margin: 0;
    padding: 0;
}


.window {
    background: linear-gradient(145deg, #f5f7fa, #e4e8ec);
    border: 1px solid #d0d5db;
    width: 55%;
    padding: 20px;
    margin: 90px auto 0;
}

.titlebar {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 15px;
}

.question {
    margin-bottom: 12px;
}

.question label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

.question input[type="time"],
.question input[type="number"] {
    font-size: 16px;
    padding: 2px 5px;
    border: 1px solid black;
    background: #d4a373; 
    width: 130px;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    border-top: 1px solid #999;
    padding-top: 10px;
}

.btn-next {
    background-color: #2E7D32;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-prev {
    background-color: #999;
    color: #111;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* sivujen vaihto */
.page { display: none; }
.page.active { display: block; }